*{
	margin: 0;
	padding: 0;
}
/*清除浮动影响*/
.two-title{
	overflow: hidden;
}
li{
	list-style: none;
	cursor: pointer;
	
}
html{
	/*21-35*/
	width: 100%;
	height: 100%;
}
body{
	width: 100%;
	height: 100%;
    background: #f0f2f5;
}

.outer{
	width: 100%;
	height: 100%;
    overflow:hidden;
}
.nav{
	width:100%;
	min-width: 1280px;
	height:70px;
	background: white;
}
.nav-left{
    height: 67px;
	padding: 7px 0px;
    float: left;
}
.logo{
	 padding-left: 72px;
    padding-right: 41px;
}
.nav-right .nav-right-first{
	border-top: 2px solid #fff;
	width: 85px;
	line-height:70px;
	float: left;
	text-align: center;
	position:relative
}
.nav-right .nav-right-first i{
	display: inline-table;
    width: 10px;
    height: 10px;
	background: url(../img/down1.png) no-repeat;
	margin-left: 17px;
}
.nav-right-two{
	display: none;
	width:130px;
	color: #969696;
	font-size: 10px;
	background: white;
	position: absolute;
	z-index: 1005;
	border:1px solid #494949;
	box-sizing:border-box;
	}
.nav-right-two li{
	height:40px;
    line-height:40px;
}
 .nav-right .nav-right-first .nav-right-two i{
	display: inline-table;
	width: 10px;
	height: 10px;
	background: url(../img/down1.png) no-repeat;
	
}
.nav-right-three{
	display: none;
	background: white;
	position: absolute;
	z-index: 1005;
	width:80px;
	left:130px;
	border:1px solid #494949;
	box-sizing:border-box;
}
.nav-right-three li{
	height:30px;line-height:30px;
}
.chose{
	float: right;
}
.chose-l{
	float: left;
	line-height:70px;
	margin-right: 30px;
}
.search input{
	width: 152px;
	height: 26px;
	background: url(../img/input.png) no-repeat;
	border: 0;
	padding-left: 5px;
	position:relative;
	}
.search i{
	position: absolute;
	width: 18px;
	height: 19px;
	display:inline-table;
	background: url(../img/shouye_09.png) no-repeat;
	top:27px;
	left: 128px;
}
.chose .time{
	color: #2b97eb;
	margin-right: 40px;
}
.chose-area{
	position: relative;
}

.chose-area .chose-nation{
	width:150px;
	height:117px;
	background: url(../img/beijing.png) no-repeat;
	background-size:100% 100%;
	position: absolute;
	z-index: 1000;
	left: -62px;
	top:55px;
	display:block;;
}
.nation{
	width:100%;margin-top:5px;
	height:33px;overflow:hidden;
}
.nation img{width:80%;height:20px;margin-left:10px;margin-bottom:10px;}
.conntent{
	width:98%;height:85%;
	margin:0 auto;
	margin-top: 20px;
}
.content-left{
	float: left;
    width:17%;height:100%;
}
.content-left-top,.content-left-bottom{
	width:100%;
	height:50%;
}
.content-left-top .border,.content-left-bottom .border{
	width: 100%;
	height:95%;
	border:1px solid orange;
	box-sizing:border-box;
}
.content-left-top .border .more,.content-left-bottom .border .more{
	width:100%;
	height:100%;
	background:url("../img/shouye_18.png");
	background-size:100% 100%;
}
.content-left-bottom .border{
	margin-top:7%;
}
.content-left-bottom .border .more{
	background:url("../img/shouye_26.png");
	background-size:100% 100%;
}

.content-right{
	float:right;
	width: 82%;
	height:100%;
	border:1px solid orange;
	box-sizing:border-box;
}

.foot{
	width: 100%;
	text-align:center;
	line-height:22px;
	font-size:12px;
}
/*=================SmartNI.html====================*/
.nav-right2{
	width:400px;height:100%;
	line-height:70px;text-align:center;
	position:absolute;left:0;right:0;margin:auto;
    color:#153188;font-size:28px;font-weight:bold;
}
.chose2{margin-right:150px;}
.Npo_Ni{
	width:100px;height:20px;background:#ccc;
    color:#fff;border:2px solid #f2f4f8;
}
.Npo_Ni li{
	width:50%;height:100%;float:left;line-height:20px;text-align:center;
}
.Npo_Ni a{text-decoration:none;color:#fff;}
.Npo_Ni .active{background:#4d96e4;}

.conntent2 .top,.conntent2 .bottom{width:100%;height:50%;}
.conntent2 .bottom{padding-top:20px;box-sizing:border-box;}
.conntent2 .top .map,.conntent2 .top .right{
	width:50%;height:100%;float:left;
}
.conntent2 .top .right{float:right;padding-left:20px;box-sizing:border-box;}
.conntent2 .top .right .one,.conntent2 .top .right .two{width:100%;height:50%;}
.conntent2 .top .right .one{padding-bottom:20px;box-sizing:border-box;}
.conntent2 .top .right .one .con div{width:20%;height:100%;float:left}
.conntent2 .con{width:100%;height:100%;background:#fff;}
.conntent2 .bottom .left,.conntent2 .bottom .center,.conntent2 .bottom .right{
	width:33%;height:100%;float:left;
}
.conntent2 .bottom .center{width:34%;}
.conntent2 .bottom .left{padding-right:10px;box-sizing:border-box;}
.conntent2 .bottom .center{padding-left:10px;padding-right:10px;box-sizing:border-box;}
.conntent2 .bottom .right{padding-left:10px;box-sizing:border-box;}

.xuanze{width:250px;height:30px;margin:0 auto;position:absolute;top:12%;left:0;right:0;margin:auto;}
.xuanze li{float:left;width:55px;height:100%;line-height:30px;text-align:center;color:#fff;border-radius:3px;}
.xuanze .active{border:2px solid #D3D3D3;box-sizing:border-box;}

.conntent2 .right .con .title{font-size:20px;color:#218be2;text-align:center;margin-top:6px;}
.conntent2 .right .con .biaoge{
	width:90%;height:82%;font-size:14px;
	margin:0 auto;margin-top:14px;border:1px solid #d5d5d5;
}
.conntent2 .right .con .biaoge ul{
	width:100%;height:16.67%;
}
.conntent2 .right .con .biaoge ul:first-child{color:#218be2;}
.conntent2 .right .con .biaoge .oushu{
      background:#f0f2f5;
}
.conntent2 .right .con .biaoge ul li{
	width:30%;height:100%;float:left;border-right:1px solid #d5d5d5;box-sizing:border-box;text-align:center;
}
.conntent2 .right .con .biaoge ul li:first-child{width:10%;color:#218be2;}
.conntent2 .right .con .biaoge ul li:last-child{border:0;}










